.player {
  grid-template-columns: 10% 1fr;
  grid-template-rows: 100%;
}
.player > * { z-index: 2; }
.player-blur { background-color: rgba(255, 255, 255, 0.5); }
.player-lyrics {
  grid-template-columns: 1fr;
  grid-template-rows: 85% 15%;
}
.player-control {
  align-self: end;
  margin-bottom: 1rem;
  text-shadow: 1px 1px white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
.title {
  transition: opacity 1s ease;
  display: flex;
}
.text {
  white-space: pre-line;
  font-size: 4rem;
  line-height: 7rem;
  padding: 2rem 1rem;
  max-width: 60%;
  transition: opacity 1s ease;
}
.bottoms {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 1024px) { /***** SMALL SCREEN VIEW *****/
  .player-lyrics { grid-template-rows: 80% 20%; }
  .bottoms { grid-template-rows: 25% 75%; }
  .title { width: 100%; }
  .text {
    font-size: 1.5rem;
    max-width: 90%;
    line-height: 5rem;
    padding: 2rem 0.5rem;
  }
}
.player-home { margin-right: 4rem; }
.player-action { margin-left: 4rem; }
