<section class="full grid player items-center" id="player">
  <div class="player-lyrics c1-3 r1 full" #lyrics></div>
  <i class="player-home player-control pi pi-home c1-3 r1 element pointer" (click)="goHome()" #home></i>
  <i class="player-prev player-control pi pi-step-backward c1-3 r1 element pointer" (click)="doPrev()" #prev></i>
  <i class="player-action player-control pi c1-3 r1 element pointer" id="action" (click)="doAction()" #action></i>
  <i class="player-next player-control pi pi-step-forward c1-3 r1 element pointer" (click)="doNext()" #next></i>
  <app-footer [just-version]="true"></app-footer>
</section>
