.lobby {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 20% 1fr 5%;
    position: absolute;
    top: 0;
}
.app-name {
    color: var(--primary);
    position: relative;
    right: 8%;
}
.logo {
    position: relative;
    left: 18%;
    scale: 0.3;
}
.finder {
    grid-template-columns: 100%;
    grid-template-rows: 25% 1fr;
}
.field {
    min-width: 50%;
    max-width: 100%;
    height: 50%;
    align-self: flex-end;
    field-sizing: content;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 4px solid var(--primary);
    border-radius: 10px 10px 0 0;
    color: var(--outline);
    text-align: center;
    transition: border-bottom 80ms ease-in-out, background-color 500ms ease-in-out;
}
.field:focus {
    background-color: var(--shadow-dim);
    height: 50%;
    border-bottom: 6px solid var(--secondary);
}
.field::placeholder, ::-webkit-input-placeholder { color: var(--outline); }
.found {
    align-self: flex-start;
    background-color: var(--shadow-dim);
    border-radius: 0 0 10px 10px;
    max-height: 400px;
    min-width: 50%;
    gap: 1rem 0;
    color: var(--outline);
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: var(--matches-scrollbar) transparent;
}
.found:has(app-result) {
    padding: 1rem 0;
}
.playlist {
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr repeat(2, 8%);
    color: var(--primary);
    gap: 0 2rem;
}
.playlist-control { color: var(--secondary); }
.queue {
    display: flex;
    overflow-x: auto;
    gap: 0 1rem;
}
.settings-btn {
    grid-row: 2 / 4;
    align-self: self-end;
    scale: 0.6;
}
.app-version {
    color: var(--primary);
    font-style: italic;
    align-self: self-end;
}
.toggle {
    background-color: var(--backdrop-modal);
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    color: var(--outline);
    box-shadow: 4px 4px 2px 0 var(--shadow-dim);
}
.toggle:active { outline: none; }
.church { gap: 0 1rem; }
.church .field {
    color: var(--onTertiary);
    max-width: 550px;
}
a { color: inherit; }
a:hover, a:active { color: var(--secondary); }
@media screen and (max-width: 1400px) { /***** MEDIUM SCREEN VIEW *****/
    .logo {
        left: 21%;
        scale: 0.25;
    }
    .finder { grid-template-rows: 20% 1fr; }
    .found { max-height: 360px; }
}