.backdrop { background-color: var(--backdrop-modal); }
.modal-content {
    position: absolute;
    top: 0;
}
.card {
    background-color: var(--tertiary);
    color: var(--onTertiary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 0 10px var(--secondary);
}
.close-mark { float: right; }