.screensaver {
    grid-template-columns: 100%;
    grid-template-rows: 50% 1fr repeat(2, 10%);
    gap: 0 2rem;
}
.logo {
    position: absolute;
    right: -7rem;
    top: -5rem;
    --primary: transparent !important;
}
.txt {
    margin-left: 5%;
    color: var(--white);
    align-self: center;
}