.fade {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232121;
}
.fade-logo {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 40%;
  /* duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: 1800ms cubic-bezier(0.47,1.94,0.31,0.8) 800ms 1 normal both running logoIn;
}
@keyframes logoIn {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-name {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  color: #b8b2b2;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  animation: 4s cubic-bezier(0.47,1.94,0.31,0.8) 800ms 1 normal both running nameIn;
}
@keyframes nameIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-name-line {
  position: absolute;
  left: 25%;
  bottom: 8%;
  width: 50%;
  border: 1px solid #b8b2b2;
  animation: 4s cubic-bezier(0.47,1.94,0.31,0.8) 800ms 1 normal both running nameIn;
}
@media screen and (max-width: 1024px) { /***** SMALL SCREEN VIEW *****/
  .fade-logo {
    width: 50%;
    top: 20%;
    left: 25%;
  }
  .fade-name-line {
    width: 90%;
    left: 5%;
  }
}
