/***** GLOBAL *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    -webkit-tap-highlight-color: transparent;
}
html, body { height: 100%; }
:root {
    --white: #FFFFFFFF;
    --black: #000000FF;
    --background: #A3A3A3FF;
    --onBackground: var(--primary);
    --primary: #1E1E88FF;
    --secondary: #FFC100FF;
    --tertiary: #41424CFF;
    --onTertiary: var(--white);
    --outline: var(--black);
    --alpha: rgba(255, 255, 255, 0.5);
    --btn-text: rgba(0, 0, 0, 0.7);
    --item-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    --media-shadow: -10px -10px 15px 1px rgba(0, 0, 0, 0.6), 10px -10px 15px 1px rgba(0, 0, 0, 0.6);
}

/***** THEMES *****/

/***** COMPONENTS *****/
app-fade, app-search, app-player, app-reader {
    width: 100%;
    height: 100%;
}
app-match {
    width: 100%;
    height: fit-content;
}
app-match:focus, app-match:hover {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    outline: none;
}
app-playlist {
    position: absolute;
    left: 2%;
    min-width: 10%;
    max-height: 65%;
    border-radius: 10px;
    background-color: var(--alpha);
    box-shadow: var(--item-shadow);
    overflow-y: auto;
}
app-player + app-playlist {
    bottom: 1%;
}
app-reader + app-playlist {
    display: none;
}
app-settings {
    width: 70%;
    height: 60%;
    position: absolute;
    bottom: 0;
    box-shadow: var(--item-shadow);
    border-radius: 10px 10px 0 0;
    z-index: 10; /* app-settings */
}

@media screen and (max-width: 600px) { /***** MOBILE SCREEN VIEW *****/
}

/***** CLASSES *****/
.pointer { cursor: pointer; }
.pointer:active { transform: scale(0.9); }
.hidden { display: none !important; }

/***** DISPLAY *****/
.flex {
    display: flex;
    flex-flow: row wrap;
}
.grid { display: grid; }

/***** SIZING *****/
.full {
    height: 100%;
    width: 100%;
}
.full-w { width: 100%; }
.fit {
    width: fit-content;
    height: fit-content;
}

/***** POSITIONING *****/
.items-center {
    justify-items: center;
    align-items: center;
}
.content-center {
    justify-content: center;
    align-content: center;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

/***** GRID POS *****/
.c1 { grid-column: 1; }
.c2 { grid-column: 2; }
.c3 { grid-column: 3; }
.r1 { grid-row: 1; }
.r2 { grid-row: 2; }
.r3 { grid-row: 3; }
.r4 { grid-row: 4; }
.r5 { grid-row: 5; }

/***** FONTS *****/
/* @font-face --> in html file */
.npark { font-family: "National Park", sans-serif; }
.npark.bold { font-weight: bold; }
.npark.italic { font-style: italic; }
.npark.tshadow { text-shadow: 2px 1px var(--alpha); }
.msymbol { 
    font-family: "Material Symbols Rounded", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    font-variation-settings: 'GRAD' 200;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.st { font-size: 5rem; } 
.sm {
    font-size: 2rem;
    letter-spacing: 5px;
}
.sn { font-size: 1.4rem; }
.si { font-size: 1rem; }
.ss { font-size: 0.8rem; }

/***** SCROLLBARS *****/
/* ::-webkit-scrollbar { width: 1px; }
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb { background: transparent; } */