/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/***** GLOBAL *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html, body { height: 100%; }

/***** COMPONENTS *****/
app-footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

/***** CLASSES *****/
.bg-1 { background: url("assets/images/backgrounds/bg-1.webp") 50% 50% / 100% 100% no-repeat; }
.bg-2 { background: url("assets/images/backgrounds/bg-2.webp") 50% 50% / 100% 100% no-repeat; }
.bg-3 { background: url("assets/images/backgrounds/bg-3.webp") 50% 50% / 100% 100% no-repeat; }
.bg-4 { background: url("assets/images/backgrounds/bg-4.webp") 50% 50% / 100% 100% no-repeat; }
.bg-5 { background: url("assets/images/backgrounds/bg-5.webp") 50% 50% / 100% 100% no-repeat; }
.pointer { cursor: pointer; }
.element {
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 20px;
  border: none;
  outline: none;
}
.element:active { outline: none; }
.element.pointer,
.element.start-control,
.element.start-options {
  box-shadow: 5px 7px 4px 1px rgba(0,0,0,0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}
.selected,
.menu:active,
.menu-link:active,
.start-init:active,
.player-control:active {
  background-color: rgba(177, 177, 177, 0.85);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5) !important;
  transform: scale(0.98);
}
.overflow-y { overflow-y: scroll; }
.empty {
  padding: 0 !important;
  box-shadow: none !important;
}
.hide { opacity: 0; }
.hidden {
  display: none !important;
  opacity: 0;
}
.title span {
  padding: 2rem 1rem;
  font-size: 4.5rem;
}
.title span:first-child { border-right: 3px solid black; }
.bottoms span { padding: 0 5rem; }
.bottoms span:first-child { font-size: 2rem; }
.bottoms span:not(:first-child) {
  grid-column: 1;
  grid-row: 2;
}
.bottoms span:nth-child(3) {
  margin-top: 1.5rem;
}
@media screen and (max-width: 1024px) { /***** SMALL SCREEN VIEW *****/
  .bg-1, .bg-2, .bg-3, .bg-4 { background-size: auto 100%; }
  .title span {
    padding: 1rem;
    font-size: 1.6rem;
    max-width: 12rem;
  }
  .bottoms span {
    padding: 0 1rem;
    grid-column: 1 / 3 !important;
  }
  .bottoms span:first-child { font-size: 1.2rem; }
  .bottoms span:not(:first-child) { font-size: 0.8rem; }
}

/***** DISPLAY *****/
.flex {
  display: flex;
  flex-flow: row wrap;
}
.grid { display: grid; }

/***** SIZING *****/
.full {
  height: 100%;
  width: 100%;
}
.fit {
  width: fit-content;
  height: fit-content;
}

/***** POSITIONING *****/
.items-center {
  justify-items: center;
  align-items: center;
}
.content-center {
  justify-content: center;
  align-content: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

/***** GRID POS *****/
.c1-3 { grid-column: 1 / 4; }
.c1 { grid-column: 1; }
.c2 { grid-column: 2; }
.c3 { grid-column: 3; }
.r1 { grid-row: 1; }
.r2 { grid-row: 2; }
.r3 { grid-row: 3; }
.r4 { grid-row: 4; }
.r5 { grid-row: 5; }


/***** FONTS *****/
.ff {
  font-family: "varela", serif;
  font-weight: bold;
}
.pf { font-family: "lisboa", serif; }
@font-face {
    font-family: "varela";
    src: url("./assets/fonts/varela-reg.ttf") format("truetype");
}
@font-face {
  font-family: "lisboa";
  src: url("./assets/fonts/lisboa-bol.otf") format("opentype");
}
