.search {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 15% 1fr 5%;
    backdrop-filter: blur(1px) contrast(0.6);
}
.app-name { 
    justify-self: end;
    margin-right: 35%;
}
.logo {
    scale: 0.23;
    justify-self: end;
    margin-right: 10%;
}
.search-controls {
    padding: 1rem 0;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 1fr;
}
.field {
    width: 80%;
    height: 4rem;
    background-color: var(--alpha);
    border: none;
    outline: none;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid var(--black);
    z-index: 2; /* app-search (search field over matches) */
    transition: box-shadow 0.25s ease-in;
}
.field:focus {
    box-shadow: var(--item-shadow);
}
.field::placeholder {
    color: var(--btn-text);
}
.field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 10px;
    cursor: pointer;
    background:
        linear-gradient(to top right, transparent calc(50% - 3px), var(--black) calc(50% - 3px), var(--black) calc(50% + 3px), transparent calc(50% + 3px)),
        linear-gradient(to top left, transparent calc(50% - 3px), var(--black) calc(50% - 3px), var(--black) calc(50% + 3px), transparent calc(50% + 3px));
    background-repeat: no-repeat;
}
.field::-webkit-search-cancel-button:hover {
    background:
        linear-gradient(to top right, transparent calc(50% - 3px), var(--primary) calc(50% - 3px), var(--primary) calc(50% + 3px), transparent calc(50% + 3px)),
        linear-gradient(to top left, transparent calc(50% - 3px), var(--primary) calc(50% - 3px), var(--primary) calc(50% + 3px), transparent calc(50% + 3px));
}
.matches {
    width: 80%;
    height: fit-content;
    max-height: 570px;
    background-color: var(--alpha);
    border-radius: 0 0 10px 10px;
    align-content: start;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in;
    scrollbar-width: auto;
    scrollbar-color: var(--btn-text) transparent;
}
.matches:has(app-match) {
    gap: 1.5rem 0;
    padding: 1rem 0;
    opacity: 1;
}
.field:focus + .matches:has(app-match) {
    box-shadow: var(--item-shadow);
}
.btn-config {
    position: absolute;
    right: 1%;
    bottom: 1%;
    padding: 0 3px 3px 0;
}
.msymbol {
    font-size: 2.8rem; /* Preferred icon size */
    background-color: var(--alpha);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
@media screen and (min-height: 660px) and (max-height: 800px) { /***** SMALL SCREEN VIEW *****/
    .matches {
        max-height: 460px;
    }
    .matches:has(app-match) {
        gap: 1rem 0;
        padding: 1rem 0;
    }
    .logo {
        scale: 0.2;
        margin-right: 6%;
    }
}