.version {
  position: absolute;
  bottom: 1px;
  right: 4px;
  font-size: 0.8rem;
}
.footer {
  text-transform: capitalize;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1024px) { /*** SMALL SCREEN VIEW ***/
  .version {
    font-size: 0.6rem;
    right: 2px;
  }
}
