.settings {
    grid-template-columns: 100%;
    grid-template-rows: 12% 1fr 25%;
    background-color: var(--tertiary);
    border-radius: 10px 10px 0 0;
    color: var(--onTertiary);
}
.close-mark {
    position: absolute;
    right: 1%;
    top: 2%;
}
.msymbol {
    font-size: 2rem; /* Preferred icon size */
    color: var(--black);
    background-color: var(--alpha);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.features { align-content: space-evenly; }
.through, .display { text-align: center; }
#through, #display {
    background-color: var(--alpha);
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
}
.app-name, .app-developer, .app-windows, .app-android { text-align: center; }
.app-link { 
    text-decoration: none;
    color: var(--secondary);
}
.app-link:hover { text-decoration: underline; }